:root {
    --white: #fff;
    --dark-white: #f5f4fa;
    --black: #000;
    --dark-grey: #2F303A;
    --light-grey: #757575;
    --nero-grey: #212121;
    --aqua-blue: #2196f3;
    --btn-blue: #188ce8;
    --header-grey: #ECECEC;
    --border-grey: #EEEEEE;
    --border-second-color: #afb1b8;
    --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bg-color: #00000033;
    --modal-button-border: #0000001A;
}

body {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

header {
    border-bottom: 1px solid var(--header-grey);
}



img {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.page-header-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    margin-left: 93px;
}
 
.link {
    position: relative;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.link:hover,
.link:focus {
    color: var(--aqua-blue);
    fill: var(--aqua-blue);
}



.list {
    list-style: none;
}


.menu-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    color: var(--dark-grey);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.menu-link:hover,
.menu-link:focus {
    color: var(--aqua-blue);
}

.current {
    color: var(--aqua-blue);
}

.menu-item {
    position: relative;
}

.menu-link {
    display: inline-block;
}

.menu-item .current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: -32px;

    background-color: var(--aqua-blue);
    border-radius: 2px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;   
    color: var(--aqua-blue);
    text-decoration: none;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--aqua-blue);
    text-decoration: none;
}

.logo-part-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black);
}

.logo-part-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white)
}

.contacts-list-item {
    margin-left: auto;
    margin-right: 40px;
}

.contact-icon {
    margin-right: 10px;
}

.contact-icon {
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.header-contacts-link {
    display: flex;
    padding: 32px 0 32px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--light-grey);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--aqua-blue);
    fill: var(--aqua-blue);
}

.contact-icon:hover {
    fill: var(--aqua-blue);
}


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    max-width: 1600px;
    min-height: 600px;
    background-color: var(--dark-grey);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg.jpeg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}


.studio-tagline {
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}
.modal-btn {
    margin: 0 auto;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--white);
    background-color: var(--aqua-blue);
    border: none;
    display: block;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--btn-blue);
    color: var(--white);
}

.section-begin-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nero-grey);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    }


.advantages-section {
    padding-bottom: 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--nero-grey);
}

.advantages-list-item {
    width: 270px;
    flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
}

.advantages-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-white);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

/*.team-members-card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}*/

.advantages-svg {
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-position: center;
}

.advantages-list-item:last-child{
    margin-right: 0;
}


.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}

.services-section {
    padding-top: 0px;
}

.services-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black)
}

.service-list {
    display: flex;
    justify-content: space-between;
    display: flex;
}

.service-list-item {
    position: relative;
}

.service-list-item:not(:last-child) {
    margin-right: 30px;
}

.service-img {
    display: block;
}

.services-container {
    position: relative;
}

.services-text-container {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;
    background: var(--dark-grey);
    opacity: 0.8;
    
}


.services-text-container .services-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;

    text-transform: uppercase;
    color: var(--white);
}

.team-members-section {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background-color: var(--dark-white);
}

.team-members-list {
    display: flex;
}

.team-members-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black)
}

.team-img {
    display: block;
}


.team-members-list {
    letter-spacing: 0.03em;
    display: flex;
    flex-wrap: wrap;
}

.team-members-card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-members-card:not(:nth-child(4n)) {
    margin-right: 30px;
}

.team-members-card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}



.team-member-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nero-grey);
}

.team-member-profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}

.team-box-link {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.sm-list {
    margin-right: 10px;
    display: flex;
    flex-basis: calc(100% / 6 - 30px);
}

.contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:not(:last-child) {
    margin-right: 10px;
}

.contacts-link:hover,
.contacts-link:focus {
    background-color: var(--aqua-blue);
}

.contacts-link:hover .sm-icon,
.contacts-link:focus .sm-icon {
    fill: var(--white);
}

.sm-icon {
    width: 20px;
    height:20px;
    fill: var(--border-second-color)

}


.item-partner {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.title-partner {
    color: var(--nero-grey);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section-partner {
    display: block;
    flex-basis: calc(100% / 6 - 30px);
}

.section-partner:not(:last-child) {
    margin-right: 30px;
}


.partner-icon {
    fill: var(--border-second-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-icon:hover,
.partner-icon:focus {
    fill: var(--aqua-blue);
}

.partner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--border-second-color);
    border-radius: 4px;

}

.partner-link {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-link:hover,
.partner-link:focus {
    border-color: var(--aqua-blue);
}

.partner-link:hover .partner-icon,
.partner-link:focus .partner-icon {
    fill: var(--aqua-blue);
}


.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-grey);
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}



.footer-address {
    margin-top: 20px;
    font-style: inherit;
    letter-spacing: 0.03em;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address-maps {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-contact-mail {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-grey);
    text-decoration: none;

}

.footer-phone-number {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}

.footer-address-maps,
.footer-contact-mail,
.footer-phone-number {
    color: var(--white);
    font-style: normal;
    display: block;
    padding: 0;
    margin: 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-contact-mail:hover,
.footer-contact-mail:focus {
    color: var(--aqua-blue);
}

.footer-phone-number:hover,
.footer-phone-number:focus {
    color: var(--aqua-blue);
}


.follow-us-container {
    margin-left: 70px;
}

.footer-social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white);
    
}


.footer-social-list {
    display: flex;
    gap: 10px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
}


.socials-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
}

.socials-link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    color: var(--white);
    background-color: var(--aqua-blue);
}

.icon-footer {
    fill: var(--white);
}

.footer-sm-follow {
    margin-left: 93px;

}
.footer-sm-text {
    padding: 20px 0px 10px 0px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}
.footer-sm-contact {
}
.footer-sm-label {
}

.footer-sm-input {
    width: 358px;
    margin: 0;
    padding: 13px 16px;
    border-radius: 4px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--dark-grey);
    color: var(--white);

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-input:hover,
.footer-sm-input:focus {
    outline: none;
    border-color: var(--aqua-blue);
}

.footer-sm-input::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
}

.footer-sm-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    border: none;
    margin: 0;
    padding: 8px 29px;
    border-radius: 4px;
  
    background: var(--aqua-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    cursor: pointer;
    min-height: 43px;
    margin-left: 12px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-sm-button:hover,
.footer-sm-button:focus {
    background-color: var(--btn-blue);
}

.send-icon-container {
    margin-left: 10px;
    margin-top: 13px;
}

.send-icon {
    width: 24px;
    height: 24px;
    fill: var(--white);
}


/*============================Portfolio==========================*/

.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - 60px / 2);
    margin: 0;
    padding: 0;
}

.portfolio-list-item {
    display: flex;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--white);
    border: 1px solid var(--border-grey);
}



.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}


.portfolio-list-item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}


.portfolio-link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-card-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    transform: translateY(200%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background: var(--aqua-blue);

    padding: 63px 23px;
}

.portfolio-link:hover .portfolio-overlay-container,
.portfolio-link:focus .portfolio-overlay-container {


    transform: translateY(0);
}

.overlay-text {
    font-size: 18px;
    line-height: 156%;
    color: var(--white);
}



.portfolio-border {
    padding: 20px 24px;
    border-left: 1px solid var(--border-grey);
    border-top: 0;
    border-right: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);

}





.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--nero-grey);
}



.project-type {
    font-size: 18px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}

/*
.modal-btn-portfolio-link {
    color: var(--nero-grey);
    transition: color var(--transition-duration-function);
}*/

.modal-btn-portfolio {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--nero-grey);
    border-radius: 4px;
    border-color: transparent;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
    background-color: var(--aqua-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--dark-white);
}

.button-list-item:not(:last-child) {
    margin-right: 8px;
}



/*backdrop*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--backdrop-bg-color);
    z-index: 100;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}   

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    min-width: 530px;
    min-height: 580px;
    background-color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--modal-button-border);
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-close-icon {
    width: 18px;
    height: 18px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: var(--btn-blue);
}

.call-back-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    display: block;

    color: var(--nero-grey);
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-form-container {
    width: 100%;
    margin-bottom: 10px;
}


.contacts-form-field {
    display: flex;
    flex-direction: column;
    position: relative;
}



.contacts-form-label {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    display: block;
    color: var(--light-grey);
    margin-bottom: 4px;
}



.contacts-form-box {
    position: relative;
    display: block;
} 




.contacts-form-name {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-name:hover,
.contacts-form-name:focus {
    outline: none;
    border-color: var(--aqua-blue);
}

.contacts-form-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    width: 18px;
    height: 18px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.contacts-form-name:hover + .contacts-form-icon,
.contacts-form-name:focus + .contacts-form-icon {
    fill: var(--aqua-blue);
}


textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
    outline: none;
    border-color: var(--aqua-blue);
}

.contacts-form-comment {
    width: 100%;
}

.contacts-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    margin-bottom: 30px;
    margin-top: 20px;

    color: var(--light-grey);
}

.contacts-checkbox-lbl {
    display: flex;
    align-items: center;
}



.hidden-checkbox {
    -webkit-appearance: none;
    position: absolute;
}

.contacts-checkbox-lbl .custom-checkbox-container {
    display: flex;
     background: var(--white);
     width: 16px;
     height: 15px;
     position: relative;
     margin-right: 8px;
}

.contacts-checkbox-lbl .checkbox {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    max-width: 100%;
    height: 100%;

    background-color: var(--white);
    border: 2px solid var(--nero-grey);
    border-radius: 3px;
}


.checkbox {    
    position: absolute;
    width: 16px;
    height: 15px;
    fill: var(--white);
}

/*
.contacts-checkbox-lbl input:checked + .custom-checkbox-container .checkbox {
    display: block;
}*/



.contacts-form-text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--light-grey);
}


.contacts-form-link {
    font-size: 14px;
    line-height: calc(24/12);
    letter-spacing: 0.03em;
    color: var(--aqua-blue);

}


.contacts-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    margin: 0 auto;
    padding: 10px 56px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: var(--white);
    background: var(--aqua-blue);
    border: none;

    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-button:hover,
.contacts-form-button:focus {
    background-color: var(--btn-blue);
    color: var(--white);
}
