:root {
    --white: #fff;
    --dark-white: #f5f4fa;
    --black: #000;
    --dark-grey: #2F303A;
    --light-grey: #757575;
    --nero-grey: #212121;
    --aqua-blue: #2196f3;
    --btn-blue: #188ce8;
    --header-grey: #ECECEC;
    --border-grey: #EEEEEE;
    --border-second-color: #afb1b8;
    --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bg-color: #00000033;
    --modal-button-border: #0000001A;
}