.contacts-list {
    @extend %list;
    display: none;

    @media screen and(min-width: 768px) {
    display: block;
    margin-left: auto;
    }

    @media screen and(min-width: 1200px) {
      display: flex;
      margin-left: auto;  
    }
}

.contacts__item:not(:last-child) {
    @media screen and(min-width:768px) {
        margin-bottom: 10px;
    }
    @media screen and(min-width:1200px) {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.contacts__link {
    @media screen and(min-width:768px) {
        display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--light-grey);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--aqua-blue);
    fill: var(--aqua-blue);
}
} 
}