.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--backdrop-bg-color);
    z-index: 100;
    transition-property: overflow, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {   
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
    }

    &.is-hidden .modal-close {
        transform: translate(-50%, -50%) scale(0.8);
    }
}   



.modal-close {
    position: absolute;
    width: 530px;
    height: 580px;
    background-color: var(--white);
    top: 50%;
    left: 50%;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-device-width: 200px) and (max-device-width: 1199px) {
            width: 450px;
            height: 609px;
    }
}



.modal-close__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    fill: var(--btn-blue);
}
}

.modal-close__icon {
    width: 18px;
    height: 18px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// Submit-Form

.contacts-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    display: block;

    color: var(--nero-grey);
}


.contacts-form-label {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    display: inline-flex;
    color: var(--light-grey);
    margin-bottom: 4px;
}



.contacts-form-box {
    position: relative;
    display: block;
} 


.contacts-form-box__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    fill: var(--nero-grey);

    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-form-box__name:hover + & {
    fill: var(--aqua-blue);
}
}

.contacts-form-box__name {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-bottom: 10px;
    
    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    outline: none;
    border-color: var(--aqua-blue);
}
}



textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;
    margin-bottom: 20px;

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
    outline: none;
    border-color: var(--aqua-blue);
}

.contacts-form-comment {
    width: 100%;
}

.contacts-form-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.contacts-form-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contacts-form-checkbox__input {
    outline: 2px solid var(--black);
}

.hidden-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.use-box {
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.use-accept {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox__input:checked + .contacts-form-checkbox__icon .use-accept {
    opacity: 1;
}

.contacts-form-checkbox__input:checked + .contacts-form-checkbox__icon .use-box {
    opacity: 0;
}

.contacts-form-checkbox__icon {    
    position: absolute;
    top: 40%;
    left: 12px;
    transform: translateY(-40%);
    cursor: pointer;
    width: 16px;
    height: 15px;

    @media screen and (min-device-width: 200px) and (max-device-width: 1199px) {
        left: 2px;
    }

}


.contacts-form-text {
    @media screen and (min-width: 1200px) {
    user-select: none;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--light-grey);
    margin-left: 35px;
    }
    @media screen and (min-device-width: 200px) and (max-device-width: 1199px) {
        user-select: none;
        font-size: 12px;
        line-height: 1.61;
        letter-spacing: 0.03em;
        color: var(--light-grey);
        padding-left: 24px;
    }

}


.contacts-form-text__link {
    color: var(--aqua-blue);
    text-decoration-line: underline;

}


.contacts-form-text__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    margin: 0 auto;
    padding: 10px 56px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: var(--white);
    background: var(--aqua-blue);
    border: none;

    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-text__button:hover,
.contacts-form-text__button:focus {
    background-color: var(--btn-blue);
    color: var(--white);
}