.team {
    padding-top: 94px;
    padding-bottom: 94px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background-color: var(--dark-white);

    @media screen and (max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
}
}



.team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nero-grey);

    @media screen and (max-width:1199px) {
        font-size: 28px;
        line-height: calc(33 / 28);
        margin-bottom: 30px;
    }
}




.team__list {
    @extend %list;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 30px;

    }

}

.team__card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and(max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and(min-width:1200px){
    &:not(:nth-child(n)) {
        margin-right: 30px;
    }
}
}



.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}



.team-wrapper__employee {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nero-grey);
}

.team-wrapper__profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}


