.team {
    padding-top: 94px;
    padding-bottom: 94px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background-color: var(--dark-white);
}



.team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nero-grey);
}




.team__list {
    @extend %list;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-device-width: 768px) and (max-device-width: 2000px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.team__card {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and(max-width:1199px) {
        margin-bottom: 30px;
    }
    
    @media screen and(min-width:1200px){
    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }
}
}

// @media screen and(min-width:768px) {
//     .team__card {
//         justify-content: space-between;
//     }
// }

.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}



.team-wrapper__employee {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--nero-grey);
}

.team-wrapper__profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}


