.advantages__list {
    display: flex;
    flex-wrap: wrap;
}


.advantages__item {
    width: 270px;
    flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
    &:last-child{
    margin-right: 0;
    }
}

.advantages-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-white);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}


.advantages-box__icon {
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-position: center;
}

.advantages__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--nero-grey);
}

.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}
