.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    margin-left: 93px;
}


.navigation__item {
    position: relative;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.navigation__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    color: var(--dark-grey);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--aqua-blue);
    }
    &.navigation__link--current {
        position: relative;
        color: var(--aqua-blue);
    }
}

.navigation__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: -32px;

    background-color: var(--aqua-blue);
    border-radius: 2px;
}

