.portfolio-nav__list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.portfolio-nav__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-nav__button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--nero-grey);
    border-radius: 4px;
    border-color: transparent;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__button:hover,
.portfolio-nav__button:focus {
    background-color: var(--aqua-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--dark-white);
}


.projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - 60px / 2);
    margin: 0;
    padding: 0;
}

.projects-list__item {
    display: flex;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--white);
    border: 1px solid var(--border-grey);
}



.projects-list__item:hover,
.projects-list__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}


.projects-list__item:nth-child(3n) {
    margin-right: 0px;
}

.projects-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}


.projects-list__link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover,
.projects-list__link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    transform: translateY(200%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background: var(--aqua-blue);

    padding: 63px 23px;
}

.projects-list__link:hover .overlay-container,
.projects-list__link:focus .overlay-container {


    transform: translateY(0);
}

.overlay-container__text {
    font-size: 18px;
    line-height: 156%;
    color: var(--white);
}



.projects-border {
    padding: 20px 24px;
    border-left: 1px solid var(--border-grey);
    border-top: 0;
    border-right: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);

}


.projects-border__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--nero-grey);
}



.projects-border__type {
    font-size: 18px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-grey);
}