body {
    font-family: 'Roboto', sans-serif;

}

header {
    border-bottom: 1px solid var(--header-grey);
}



img {
    display: block;
}

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;
    margin-bottom: 20px;

    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

